{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2><u>Наш адрес:</u></h2><br>
            <h4 class="col-md-8 fs-4 text-body-emphasis"> 2 market lane, Wellington Central, Wellington 6011, Новая Зеландия.</h4><br><br>
            <h2><u>Наш телефон:</u></h2><br>
            <h4 class="col-md-8 fs-4 text-body-emphasis"> +64-4-777-7777</h4>
        </div>
        <div class="col-md-6">
            <div class="p-3 text-bg-dark rounded-3">
                <h2>Обратная связь</h2>
                <p>Заполните форму, и наши консультанты свяжутся с Вами.</p>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputName1" class="form-label">Ваше имя:</label>
                        <input name="name" type="text" class="form-control" id="exampleInputName1" aria-describedby="namelHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email:</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPhone1" class="form-label">Телефон:</label>
                        <input name="phone" type="tel" class="form-control" id="exampleInputPhone1" aria-describedby="telHelp">
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
