{% extends 'catalog/base.html' %}

{% block content %}
        <div class="p-1 mb-1 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <span style="font-size:30px;">Наш сайт предлагает Вам выбор из широкого круга транспортных средств. У нас Вы найдете именно то, что Вам нужно.</span><br><br>
                <p><a class="btn btn-primary btn-lg" href="{% url 'catalog:category_products' %}" role="button">Перейти в каталог &raquo;</a></p>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h2>Добавьте объявление</h2>
                    <p>Вы можете разместить свое объявление на нашем сайте. Для этого нажмите кнопку "Создать объявление" и заполните специальную форму.</p>
                    <a href="{% url 'catalog:product_create' %}" class="btn btn-outline-primary" type="button">Создать объявление &raquo;</a>
                </div>
            </div>
        </div>
        {% endif %}
{% endblock %}

