{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row">
            <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <img class="card-img-top" src="{{ object.image|my_media }}" alt="Card image cap">
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                    <h3>{{ object.name }}</h3>
                    <p>Цена: {{ object.price }} руб.</p>
                    <p>Описание: {{ object.description }}</p>
                </div>
            </div>
    </div>
{% endblock %}