{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
    <div class="row">
        {% for object in object_list %}
           <div class="col-md-4">
               <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                   <img class="card-img-top" src="{{ object.image|my_media }}" alt="Card image cap">
                   <div class="card-body">
                       <p class="card-text">{{ object.name|title }}</p>
                       <p>{{ object.price }}</p>
                   </div>
               </div>
           </div>
        {% endfor %}
    </div>
{% endblock %}